
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:  Arial, serif;
    
}


body{
  color: var(--text-color);
  height: 100vh;
  width: 100%;

}
.divider-1{
  
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, var(--base-color2), var(--base-color));
}
.divider-2{
  
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right,   var(--base-color) ,var(--base-color2));
}

  header a{
    text-decoration: none;
    color: var(--text-color);
   display: flex;
    
 }


.image{
    width: 100%;
    height: auto;
    margin-top: 9rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px 0px var(--base-color);
}
.image2{
  width: 100%;
  height: auto;
}

 html{
    scroll-behavior: smooth;
    box-sizing: border-box;
   
    
   }
   ul{
    list-style: none;
   }
   .h2{
    text-align: center;
   }
   .iconmoo{
    padding: 4rem;
    text-align: center;
   
    
   }
   

   /*menu=========================*/
   ul{
    padding-top: 0;
    margin-top: 0;
    box-sizing: border-box;
    
    position: fixed;
    margin-top: 3.7rem;
    width: 100vw;
    background: var(--body-color);
    padding-bottom: -2rem;
    margin-left: 0;
    border: 0.5px solid var(--base-color);
     margin-right: 24rem;
    padding: 0.7rem;
     z-index: 1;
  
  
   }
   .menuimg{
    width: 1.3rem;
    height: 1.2rem;
    color: var(--body-color);

   }
  
   ul.scroll{

    box-shadow: 0px 0px 12px rgba(10, 10, 10, 0.4);
    background-color: var(--base-color);
     transition: 0.3s;
  }


   ul div.a2{

    
       display: flex;
      justify-content: space-between;
      padding-bottom: -33px;
      margin: 0;
      margin-top:0;
      padding-top: 0;
      padding-right:0;
      width: 100%;
        
   }
 
   .adomenu{
    color: var(--text-color);

   }
   .adomenu :hover{
    color: var(--body-color);
    transition: 0.3s;
   }

 /*============== header =================*/
 .a{
       
  margin-top: -0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0 ,1);
  background: var(--body-color);
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  border-bottom: 3px solid var(--base-color);
   
  
 
 
}


 span{
    color: var(--base-color);
 }


 /*================= cores do site ==============*/
 :root{
    /*=====================colors ===========*/
    --body-color: hsl(24, 22%, 95%) ;
    --text-color-light: hsl(164, 14%, 22%) ;
    --text-color: hsl(0, 6%, 13%) ;
    --base-color: hsl(101, 24%, 51%) ;
    --base-color2:  hsl(180, 13%, 95%) ;
  

}
/*=================== inicio===========*/
 .fazerp{
  text-align: center;
 }
 .h2{
  margin-bottom: -0.5rem;
 }
 .pp{
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
 a.botao{
 
  background: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;

  display:inline-flex;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 0.4rem;
   margin-top: 3.5rem;
  transition:  0.3s;
  text-decoration: none;
   text-align: center; 
   margin-bottom: 2rem;
 }
 a.botao:hover{
  background: var(--base-color2);
}
.text1{
  text-align: center;
}

/*=================== inicio===========*/

/*sobre nos ========================================*/
#sobre{
  background: var(--body-color);
}
.sobre h2{
  padding: 2rem;
}
.sobrenos{

  padding: 1rem;
}


   
   
    

/* depimentos =========================================*/

 #testimonials{

  background: white;
 
 }
 #testimonials header .titled{
  margin: 2rem;
 }

 #testimonials blockquote  {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 6px 0 var(--base-color);
 }
 #testimonials blockquote p{
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--text-color-light);
 }
 #testimonials blockquote p span{
  font: 700 2.5rem serif ;
  position: absolute;
  top: -0.69rem;
  left: -1.875rem;
  color: var(--base-color);


 }
 #testimonials cite {

  display: flex;
  align-items: center;
  font-style: normal;

 }
 #testimonials cite  img{
  width: 2rem;
  height: 2rem;
 
  object-fit: cover;
  clip-path: circle();
  margin-right:0.4rem;
 }
 




/*seguranca ============================================*/
.seguranca h2{
  padding: 2rem;


}
.segura{
  
  
    padding: 1rem;
 }

 #seguranca{
  background: var(--body-color);
  
 }

     
 
 /*politica=====================================*/
 .politica{

  margin-top: -2rem;
  padding: 2rem;
 }
 .politica h2{
  padding: 2rem;
 }

 /*footer=========================================*/
 .footer{
  width: 100%;
  height:15rem ;
  background: var(--base-color);
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  border-bottom: 2px solid var(--base-color2);
 border-radius: 0.2rem;  
 box-shadow: 0 0 6px 1px rgba(0, 0, 0 ,1);
 padding-bottom: 6rem;
}
 .footerparagrafo {
  margin-top: -1rem;
  padding-top: -2rem;
  
  
 }
 footer a{
  text-decoration: none;
  color: var(--text-color);
 }
 footer p{
  margin: 1.5rem;
  margin-top: 1.5rem;
 }
 footer h2{
  margin-top: 2%;
  
 }
/*carocell====================================*/


.slider{

  margin: 1rem auto;
  width: 100vw;
  height: 400px;
  overflow: hidden;
 justify-content: center;
 box-sizing:content-box;
 align-items: center;
}


.slides{
  width: 100vw;
  height: 100%;
  display: flex;
  
  padding-right: 5rem;

}
.slides input{
  display: none;
}
.slide{
  width: 100%;
  position: relative;
  transition: 2s;
  

}
.slide img{
  width: 100vw;
  box-shadow: 0 0 6px 0 var(--base-color);
  margin: 1rem;
  
}
.manual-navigation{
  position: absolute;
  width: 100%;
  margin-top: -2.5rem;
  display: flex;
  justify-content: center;
 
}
.manual-btn{
  border: 2px solid #fff;
  padding:0.2rem;
  border-radius: 2%;
  cursor: pointer;
  transition: 0.5s;
 visibility: hidden;
}
.manual-btn:not(:last-child){
  margin: right 2.5rem;;
}
.manual-btn:hover{

  background-color: #fff;
}
#radio1:checked ~ .first{
  margin-left: 0;

}
#radio2:checked ~ .first{
  margin-left: -33.2%;

}
#radio3:checked ~ .first{
  margin-left: -100%;

}
#radio4:checked ~ .first{
  margin-left: -300%;

}
.navigation-auto div{
  border: 2px solid #17a5af;
  padding:0.2rem ;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.5s;

  visibility: hidden;

}
.navigation-auto{
  position: absolute;
  width: 50rem;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;

}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}
 /*================= login e cadastro================*/
 .login{
  
  cursor: pointer;
  color: var(--text-color);
 
 }
 .cadastro{
  
  color: var(--text-color);
  cursor: pointer;
  
 
 }

  /*================= formulraio =======================*/
  nav .form{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
   transition: 0.2s;
  
  }
nav.login .form{
  opacity: 1;
  visibility: visible;
  background-color: var(--base-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center ;
  z-index: 2;

} 
 nav .form input{
  display: block;
  margin: 6%;
  padding: 2%;
  border-radius: 0.5rem;
 border: None;
    outline: None;
    padding: 4%;
  
    
 /*789456321´pp   145winner*/
 }
 nav .form  legend{
  margin-bottom: 15%;
  color: var(--base-color2);
 }
  .inp{
     background-color: var(--base-color);
    padding: 5rem;
    border-radius: 0.2rem;
   
    align-items: center;
  }

  nav .form button{
    width: 100%;
    height: 2rem;
    margin: 6%;
    padding: 2%;
    border-radius: 0.5rem;
    border: None;
    outline: None;
    background-color: cadetblue;
   }
   
     
  
   nav .form button:hover{
    background: var(--base-color2);
    transition: 0.5s;
   }
   /*================= formulraio  cadsatro =======================*/ 

   nav .form2{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
   transition: 0.2s;
  
  }
nav.cadastro .form2{
  opacity: 1;
  visibility: visible;
  background: var(--base-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center ;
  z-index: 2;

} 
 nav .form2 input{
  display: block;
  margin: 6%;
  padding: 4%;
  border-radius: 0.5rem;
  border: None;
  outline: None;


 }
 nav .form2  legend{
  margin-bottom: 15%;
  color: var(--base-color2);
 }
 nav .form2 button{
  width: 100%;
  height: 2rem;
  margin: 6%;
  padding: 6%;
  border-radius: 0.5rem;
  border: None;
  outline: None;
  background-color: cadetblue;
 }
 nav .form2 button:hover{
  background: var(--base-color2);
  transition: 0.5s;
 }
  .inp2{
     background-color: var(--base-color);
    padding: 5rem;
    border-radius: 0.2rem;
   
    align-items: center;
  }
  
    /*fecha  formulario* =====================*/
 
   div.fechar1{
     margin-top: -4rem;
     margin-left: 20rem;
   }
   div.fechar2{
    margin-top: -1rem;
    margin-left: 20rem;
  }

    /*span ====== formularios */
    .chadeform span{
      color: rgb(83, 157, 160);

      

    }
     /*span ====== formularios */
/*===================== TERMINARO SESSAO ===================================================*/

.terminar{
  padding: 1rem;
  border-radius: 9px;
  border-color: var(--base-color2) ;
   margin: -3rem;
 border: none;

}
.terminar:hover{
  padding: 1.2rem;
  transition: 0.3s;
 
}

/*inicio  index 2 =============== */
div.vacumulado  p {
  
  padding: 1rem;
  background-color: var(--base-color);
  border-radius: 0.5rem ;
  margin: 2rem;
 

}
/* deposito===========================*/
.deposito{
 align-items: center;
  text-align: center;
  margin: 3rem;
  

  
}
.deposito input{
  padding: 1rem;
  border-radius: 6px;
  
  border: 1px solid var(--base-color);

}
.deposito h2{
  color: var(--base-color);
}
.deposito button{
  padding: 1rem ;
  border-radius: 6px;
  background: var(--base-color);
  border: none;
 
  
}
.deposito button:hover{
  padding-top:1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  transition: 0.3s;
  color: var(--base-color2);

}
.monay{
  text-align: center;
}

/* session iniciadad foter*/
.session img{
  width: 4rem;
  margin-top: 5%;
  
}